<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
        
        <% @line_items.each do |item| %>
          <%= render 'item', product: @products.select { |product| product[:id] == item[:product_id] }[0], quanity: item[:quantity].to_i, total: item[:total_price_cents].to_f %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>
            <h5>ORDER DETAILS:</h5>
            <br>
            <p>
            TOTAL: <%= humanized_money_with_symbol @sum.to_f/100 %>
            EMAIL:<%= @order.email %>
            </p>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
